<div class="row">
    <div class="col-md-6" [formGroup]="form">
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Nome Completo" required>
    </div>
    <div class="col-md-6" [formGroup]="form">
        <select class="form-select" name="source_id" formControlName="source_id">
        <option selected value="">Como Conheceu?</option>
        <option *ngFor="let source of sources" [value]="source?.origem_id">{{source?.nome_origem}}</option>

      </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 " [formGroup]="form">
        <label for=""></label>
        <input type="date" class="form-control" id="birthdate" name="birthdate" formControlName="birthdate" required>
        <small>Nascimento</small>
    </div>
    <div class="col-md-6 " [formGroup]="form">
        <label for=""></label>
        <input type="text" class="form-control" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF" mask="CPF_CNPJ" required>
    </div>
</div>
<div class="row">
    <div class="col-md-6 " [formGroup]="form">
        <label for=""></label>
        <input type="datetime-local" class="form-control" id="date_time" name="date_time" formControlName="date_time" required>
        <small>Data Desejada</small>
    </div>
</div>